---
layout: default
---


<h2>Welcome to our website.</h2>

<p>The Philippines Private English Tutors is a small group of expert English teachers who have been working together since 2014.</p>

<p>Our expert professional English teachers have over nine years of teaching experience.</p>

<p>We teach English both online and in face to face (in person).</p>

<p>If you are interested in English tutorials, please visit our <a href="{{ '/services' | prepend: site.baseurl }}">services page</a>.</p>

<p>Feel free to <a href="{{ '/contact' | prepend: site.baseurl }}">contact us for your questions and inquiries</a>.</p>

<p>Thank you for visiting.</p>

<a href="{{ '/contact' | prepend: site.baseurl }}" class="button">HIRE A TUTOR</a>

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.content | strip_html | truncatewords: 30 }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>